.consultation {
  min-height: 376px;
  border-radius: 16px;
  border: 2px;
  background: linear-gradient(rgba(4, 182, 245, 0.16), rgba(4, 182, 245, 0.08));
  border: 2px solid #04B6F529;
  box-sizing: border-box;
  margin-bottom: 32px;

  &__logo {
    width: 295px;
    height: 168px;
    border-radius: 8px;
    background-image: url(./images/consultation-logo.svg);
    margin: 24px auto;
  }

  &__title {
    @include font-text(18px, 24px, 1.2px, 600);
    margin: 0 24px;
  }

  &__subtitle {
    @include font-text(13px, 16px, .6px, 500);
    margin: 8px 24px 0;
    opacity: .6;
  }

  &__button {
    @include font-text(12px, 15px, 2px, 600);
    height: 40px;
    color: $text-white;
    background-color: $button-color;
    border-radius: 24px;
    margin: 24px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
