@import "../scss/mixins";
@import "../scss/vars";

.header {
  height: 56px;
  display: grid;
  grid-template-columns: 48px 1fr 48px;
  align-items: center;
  margin: 0 16px;

  &__logo {
    background-image: url(./images/logo.svg);
    width: 40px;
    height: 40px;
    margin-right: 8px;
  }

  &__search {
    display: flex;
    height: 36px;
    width: auto;
    position: relative;
  }

  &__search-icon {
    width: 24px;
    height: 24px;
    background-image: url(./images/icon-search.svg);
    margin: 0 12px;
    border: none;
    background-color: $background-light;
    cursor: pointer;
  }

  &__form {
    display: flex;
    align-items: center;
    width: 100%;
  }

  &__search-input {
    margin-right: 12px;
    border: none;
    @include font-text(14px, 24px, 0.1px, 400);
    width: 100%;
    padding-left: 5px;

    &::placeholder {
      color: #222;
      opacity: 0.34;
      padding-left: 5px;
    }

    &:focus {
      outline: 2px solid #AAA;
      border-radius: 10px;
    }
  }

  &__search-list {
    position: absolute;
    top: 40px;
    left: -45px;
    border: 1px solid #e4edfb;
    padding: 10px;
    background-color: $background-light;
    box-shadow: 0 7px 29px 0 hsla(240, 5%, 41%, .2);
    border-radius: 5px;
    width: calc(100vw - 72px);
    max-width: 695px;
    min-width: 200px;
    max-height: 400px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    overflow: auto;
    z-index: 5;

    &_visible {
      visibility: visible;
    }
  }

  &__search-list-item {
    @include font-text(12px, 16px, 0.4px, 350);
    margin: 0;
    padding: 4px 6px;
    border: 1px solid #EEE;

    &:hover {
      background-color: $background-grey;
      border: 1px solid #BBB;
      cursor: pointer;
    }
  }

  &__notifications {
    width: 48px;
    height: 48px;
    background-image: url(./images/icon-notifications.svg);
  }

  @media screen and (max-width: 315px) {
    width: calc(100vw - 47px);
  }
}
