@import "../scss/mixins";

.situations {
  margin: 0 16px 22px;

  &__title {
    @include font-text(14px, 20px, .1px);
    margin: 8px 0 12px;
  }

  &__container {
    width: 100%;
    display: flex;
    gap: 12px;
  }

  &__card {
    min-width: 120px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 6px;
    box-sizing: border-box;
    background: linear-gradient(127.57deg, #2B3A4C 12.5%, #04B6F5 106.03%);
    position: relative;

    &:nth-child(1) {
      animation: horizontally-1 16s ease infinite;
    }

    &:nth-child(2) {
      animation: horizontally-2 16s ease infinite;
    }

    &:nth-child(3) {
      animation: horizontally-3 16s ease infinite;
    }

    &:nth-child(4) {
      animation: horizontally-4 16s ease infinite;
    }
  }

  &__card-background {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    opacity: .2;
    border-radius: 8px;

    &_divorce {
      background-image: url(./images/card-background-divorce.svg);
    }

    &_bankruptcy {
      background-image: url(./images/card-background-bankruptcy.svg);
    }
  }

  &__card-title {
    @include font-text(14px, 20px, 0.1px);
    margin: 38px 0 0;
    color: $text-white;
  }

  &__card-subtitle {
    @include font-text(12px, 16px, 0.4px, 350);
    color: $text-white;
    margin: 0 0 6px 0;
  }

  @media screen and (max-width: 315px) {
    width: calc(100vw - 47px);
  }
}

@keyframes horizontally-1 {

  0%,
  20% {
    transform: translateX(0%);
    opacity: 1;
  }

  25%,
  45% {
    transform: translateX(-115%);
    opacity: 0;
  }

  45%,
  50% {
    transform: translateX(330%);
  }

  50%,
  70% {
    transform: translateX(220%);
    opacity: 1;
  }

  75%,
  95% {
    transform: translateX(110%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes horizontally-2 {

  0%,
  20% {
    transform: translateX(0%);
  }

  25%,
  45% {
    transform: translateX(-110%);
    opacity: 1;
  }

  50%,
  70% {
    transform: translateX(-220%);
    opacity: 0;
  }

  70%,
  75% {
    transform: translateX(220%);
  }

  75%,
  95% {
    transform: translateX(110%);
    opacity: 1;
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes horizontally-3 {

  0%,
  20% {
    transform: translateX(0%);
  }

  25%,
  45% {
    transform: translateX(-110%);
  }

  50%,
  70% {
    transform: translateX(-220%);
    opacity: 1;
  }

  75%,
  95% {
    transform: translateX(-330%);
    opacity: 0;
  }

  95%,
  100% {
    transform: translateX(110%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes horizontally-4 {

  0%,
  20% {
    transform: translateX(0%);
    opacity: 0;
  }

  25%,
  45% {
    transform: translateX(-110%);
    opacity: 1;
  }

  50%,
  70% {
    transform: translateX(-220%);
    opacity: 1;
  }

  75%,
  95% {
    transform: translateX(-330%);
    opacity: 1;
  }

  100% {
    transform: translateX(-440%);
    opacity: 0;
  }
}
