@import "./vendor/normalize.css";
@import "./vendor/fonts/fonts.css";
.page {
  font-family: "Stem";
  color: #000;
  background-color: #FFF;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  min-width: 250px;
  width: 360px;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  padding: 0;
  list-style: none;
  margin: 0;
}

.header {
  height: 56px;
  display: grid;
  grid-template-columns: 48px 1fr 48px;
  align-items: center;
  margin: 0 16px;
}
.header__logo {
  background-image: url(./images/logo.svg);
  width: 40px;
  height: 40px;
  margin-right: 8px;
}
.header__search {
  display: flex;
  height: 36px;
  width: auto;
}
.header__search-icon {
  width: 24px;
  height: 24px;
  background-image: url(./images/icon-search.svg);
  margin: 0 12px;
  border: none;
  background-color: #FFF;
  cursor: pointer;
}
.header__form {
  display: flex;
  align-items: center;
  width: 100%;
}
.header__search-input {
  margin-right: 12px;
  border: none;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.1px;
  font-weight: 500;
  width: 100%;
}
.header__search-input::-moz-placeholder {
  color: #222;
  opacity: 0.34;
}
.header__search-input::placeholder {
  color: #222;
  opacity: 0.34;
}
.header__notifications {
  width: 48px;
  height: 48px;
  background-image: url(./images/icon-notifications.svg);
}

.main {
  overflow: hidden;
}
.main__title {
  visibility: hidden;
  width: 1px;
  height: 1px;
  margin: 0;
}

.situations {
  margin: 0 16px 22px;
}
.situations__title {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
  font-weight: 500;
  margin: 8px 0 12px;
}
.situations__container {
  width: 100%;
  display: flex;
  gap: 12px;
}
.situations__card {
  min-width: 120px;
  height: 80px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 0 6px;
  box-sizing: border-box;
  background: linear-gradient(127.57deg, rgba(43, 58, 76, 0.83) 12.5%, rgba(4, 182, 245, 0.63) 106.03%);
  position: relative;
}
.situations__card-background {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  opacity: 0.2;
  border-radius: 8px;
}
.situations__card-background_divorce {
  background-image: url(./images/card-background-divorce.svg);
}
.situations__card-background_bankruptcy {
  background-image: url(./images/card-background-bankruptcy.svg);
}
.situations__card-title {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
  font-weight: 500;
  margin: 0;
  color: #FFF;
}
.situations__card-subtitle {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
  font-weight: 350;
  color: #FFF;
  margin: 0 0 6px 0;
}

.consultation {
  min-height: 376px;
  border-radius: 16px;
  border: 2px;
  background: linear-gradient(rgba(4, 182, 245, 0.16), rgba(4, 182, 245, 0.08));
  border: 2px solid rgba(4, 182, 245, 0.1607843137);
  box-sizing: border-box;
  margin: 0 16px 30px;
}
.consultation__logo {
  width: 295px;
  height: 168px;
  border-radius: 8px;
  background-image: url(./images/consultation-logo.svg);
  margin: 24px auto;
}
.consultation__title {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 1.2px;
  font-weight: 600;
  margin: 0 24px;
}
.consultation__subtitle {
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.6px;
  font-weight: 500;
  margin: 8px 24px 0;
  opacity: 0.6;
}
.consultation__button {
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2.7px;
  font-weight: 600;
  height: 40px;
  color: #FFF;
  background-color: #04B6F5;
  border-radius: 24px;
  margin: 24px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.services {
  margin: 0 16px;
}
.services__title {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  font-weight: 500;
  margin: 12px 0;
}
.services__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}
.services__item {
  padding: 12px;
}
.services__item-logo {
  width: 38px;
  height: 38px;
}
.services__item-logo_situations {
  background-image: url(./images/services-situations.svg);
}
.services__item-logo_question {
  background-image: url(./images/services-question.svg);
}
.services__item-logo_documents {
  background-image: url(./images/services-documents.svg);
}
.services__item-logo_directory {
  background-image: url(./images/services-directory.svg);
}
.services__item-title {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
  font-weight: 500;
  margin: 8px 0 4px;
}
.services__item-subtitle {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
  font-weight: 350;
  margin: 0;
}

.news {
  margin: 12px 16px 68px;
}
.news__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  margin-bottom: 10px;
}
.news__title {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  font-weight: 500;
  margin: 0;
}
.news__link {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.1px;
  font-weight: 500;
  color: #04B6F5;
}
.news__container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.news__item {
  padding: 12px;
}
.news__links {
  display: flex;
}
.news__icon {
  min-width: 90px;
  height: 90px;
  border-radius: 6px;
  margin-right: 6px;
  background-position: center;
}
.news__icon_1 {
  background-image: url(./images/news-logo-1.svg);
}
.news__icon_2 {
  background-image: url(./images/news-logo-2.svg);
}
.news__article {
  width: auto;
}
.news__article-title {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
  font-weight: 500;
  margin: 0;
}
.news__article-subtitle {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
  font-weight: 350;
  margin: 2px 0 8px;
}
.news__article-date {
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.2px;
  font-weight: 500;
  margin: 0;
}

.footer {
  width: 360px;
  height: 56px;
  position: fixed;
  bottom: 0;
  background-color: #FFF;
}
.footer__list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.footer__item {
  padding: 8px 0;
}
.footer__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.footer__link-icon {
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center;
}
.footer__link-icon_main {
  background-image: url(./images/navigation-main.svg);
}
.footer__link-icon_services {
  background-image: url(./images/navigation-services.svg);
}
.footer__link-icon_communications {
  background-image: url(./images/navigation-communications.svg);
}
.footer__link-icon_call {
  background-image: url(./images/navigation-call.svg);
}
.footer__link-icon_profile {
  background-image: url(./images/navigation-profile.svg);
}
.footer__link-title {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
  font-weight: 350;
  text-align: center;
  margin: 0;
}
.footer__link-title_active {
  color: #04B6F5;
}
.footer__notifications {
  background-color: #FF3B30;
  border-radius: 7px;
  width: 14px;
  height: 14px;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.2px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
}/*# sourceMappingURL=index.css.map */